/* 
Group number:
Student Names:
*/
* {
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.3;
}
/* Add your styles below this line */
li {
   display: inline-block;
}

body{
    background: linear-gradient(to right, rgba(241, 205, 71, 0.803), rgb(226, 126, 71), rgb(211, 49, 49));
}

.header-right{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content : space-between;
  flex-direction: column;
}

section:first-of-type {
    border-width: 3px;
    border-color: black;
    border-style:solid;
  }

.header-left{
  margin-right: 16px;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{   
    display: flex; 
    margin:auto;
    align-items: center;
    justify-content: center;
}
