body {
    background-color: lightgray;
  }
  
  h1 {
    font-size:7vw;
  }

  h2 {
    font-size:3vw;
  }

  .title {
    color: red;
    font-family: Arial, Geneva, Helvetica, sans-serif;
  }

  .text {
    float: right;
    color: black;
    font-size:1vw;
  }

  .column {
    float : left;
    width: 25%;
    background-color: lightblue;
    background-clip: content-box;
    padding-right: 0.1vw;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }